* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('images/lalalalalala.gif') no-repeat;
    background-size: cover;
    background-position: center;
}

.img {
    position: fixed;
    top: 150px;
    right: 250px;
}

.img img {
    max-width: max-content;
    height: auto;
}

.homepage-box {
    position: relative;
    width: 400px;
    padding: 40px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; /* for fade-in */
}

.homepage-box h2 {
    font-size: 3em;
    color: white;
    width: 400px;
    text-align: left;
    transform: translateY(-110px);
    margin-right: -205px;
}

.homepage-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: -70px;
}

.homepage-list p {
    position: relative;
    padding-left: 35px;
    font-size: 1em;
    color: white;
    /* border-bottom: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepage-list ion-icon {
    position: absolute;
    left: 5px;
    font-size: 1.2em;
}

.toggle-password {
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    left: 120px;
    transform: translateY(-10px)
}

.back-btn {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: rgba(0, 23, 48);
    font-weight: 500;
    margin-left: 100px; 
}

.back-btn:hover {
    background: #e0e0e0;
}

@media (max-width: 400px) {
    .homepage-box {
        width: 100dvw;
        border-radius: 0;
        height: 100vh;
        padding: 30px 20px;
    }

    .homepage-list p {
        font-size: 0.95em;
    }
}

@media (max-height: 480px) {
    .homepage-box {
        width: 100dvw;
        border-radius: 0;
        height: 100vh;
        padding: 20px;
    }

    .homepage-list p {
        font-size: 0.95em;
    }
}
