* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-left: 100px;
    background: url('images/lalalalalala.gif') no-repeat;
    background-size: cover;
    background-position: center;
}

.img {
    position: fixed;
    top: 200px;
    right: 350px;
}

.img img {
    max-width: 400px;
    height: auto;
}

.login-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
}

.login-box input {
    margin-bottom: 10px;
}

h2 {
    font-size: 3em;
    color: white;
    text-align: center;
    transform: translateY(-60px);
    margin-right: 125px;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.error {
    position: absolute;
    bottom: -18px;
    left: 5px;
    color: #ff4d4d;
    font-size: 0.75em;
    height: 14px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
}

.input-box input:defined~label{
    top: -5px;  
}

.input-box input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    line-height: 1vh;
}

.input-box .toggle-password {
    position: absolute;
    transform: translateY(20%);
    margin-left: 200px;
    left: 80px;
    cursor: pointer;
    color: white;
    font-size: 1.6em;
    line-height: 1vh;
}

button {
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: rgba(0, 23, 48);
    font-weight: 500;
}

button:hover {
    background: rgba(240,240,240);
}

@media (max-width: 400px) {
    .login-box {
        height: 100vh;
        border: none;
        border-radius: 0;
        transition: 0.5s;
    }

    .input-box {
        width: 75dvw;
    }
}

@media (max-height: 460px) {
    .login-box {
        width: 100dvw;
        border: none;
        border-radius: 0;
        transition: 0.5s;
    }
    
    .input-box {
        width: 75dvw;
        transition: 0.5s;
    }
}